extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Johnny Louifils

        //- Feel free personalize the title below
        p.lead.text-light
          | Future Software Engineer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am Treehouse Full Stack JavaScript Tech-Degree Student
          P
            | This opportunity came across to me in May of 2018 when Ryan Carson, founder of treehouse, The Boys & Girls Club of Metro Atlanta, and Mailchimp awarded me a scholarship

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul.fa-ul
          li
            span.fa-li
              i.fas.fa-check-square
            | Express
          li
            span.fa-li
              i.fas.fa-check-square
          | jQuery
          li
          span.fa-li
            i.fas.fa-check-square
          | JavaScript
          li
          span.fa-li
            i.fas.fa-check-square
          | Node.js
          li
          span.fa-li
            i.fas.fa-check-square
          | API
          li
          span.fa-li
            i.fas.fa-check-square
          | HTML & CSS
        h6 Contact Info

        //- Add your own contact info
        ul
          li.contact-info.text-center
           | 678-599-3206
          li.contact-info.text-center
           | johnnylouifils1919@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        //-a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/jlouifils') GitHub
        a.button.expanded(href='https://www.instagram.com/j.louifils/?hl=en') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
