extends layout.pug

block content
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together!
      h1 My JavaScript portfolio

      //- Add a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc.
      p.lead.text-light
        | These are the projects I built as part of Treehouse Fullstack Javascript Techdegree. Each project is unique and aimed towards building a specific skill such as Plain JavaScript, Object oriented programming with JavaScript, Client-side validations and error handling, building a game with animations, Fetch API, React.js, building a complete web application using Node.js and Express and building an API and integrating it in the web app.
    article
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      .cell
        a(href='/project/0')
          img.thumbnail(src='static/images/project-0-main-pic.png')
          h5 A random qoute Generator

      .cell
        a(href='/project/1')
          img.thumbnail(src='static/images/project-1-main-pic.png')
          h5 List Pagination and Filtering

        .cell
          a(href='/project/2')
            img.thumbnail(src='static/images/project-2-main-pic.png')
            h5 Interactive Form

        .cell
          a(href='/project/3')
            img.thumbnail(src='static/images/project-3-main-pic.png')
            h5 OOP Game Show App

        .cell
          a(href='/project/4')
            img.thumbnail(src='static/images/project-4-main-pic.png')
            h5 Public API Requests
